<h1 style="text-align:center;">Market News</h1>
<br>
<div>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;New1: <a href={{displayedNewsUrl[0]}}>{{displayedNews[0]}}</a></h3>
    <br>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;New2: <a href={{displayedNewsUrl[1]}}>{{displayedNews[1]}}</a></h3>
    <br>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;New3: <a href={{displayedNewsUrl[2]}}>{{displayedNews[2]}}</a></h3>
    <br>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;New4: <a href={{displayedNewsUrl[3]}}>{{displayedNews[3]}}</a></h3>
    <br>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;New5: <a href={{displayedNewsUrl[4]}}>{{displayedNews[4]}}</a></h3>
    <br>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;New6: <a href={{displayedNewsUrl[5]}}>{{displayedNews[5]}}</a></h3>
    <br>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;New7: <a href={{displayedNewsUrl[6]}}>{{displayedNews[6]}}</a></h3>
    <br>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;New8: <a href={{displayedNewsUrl[7]}}>{{displayedNews[7]}}</a></h3>
    <br>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;New9: <a href={{displayedNewsUrl[8]}}>{{displayedNews[8]}}</a></h3>
    <br>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;New10: <a href={{displayedNewsUrl[9]}}>{{displayedNews[9]}}</a></h3>
    <br>

</div>