<div class="p-4">
    <div class="container">
        <h1>Hi {{user.firstName}}!</h1>
        <p>You're logged in StockOverflow!!</p>

        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile      
                [colspan]="tiles[0].cols"
                [rowspan]="tiles[0].rows"
                [style.background]="tiles[0].color">
                
                      <highcharts-chart
                      [Highcharts]="Highcharts"
                      [constructorType]="'stockChart'"
                      [options]="chartOptions"
                      [oneToOne]=true
                      style="width: 100%; height:100%; display:block;"
                      ></highcharts-chart>
                 
            </mat-grid-tile>

            <mat-grid-tile      
                [colspan]="tiles[1].cols"
                [rowspan]="tiles[1].rows"
                [style.background]="tiles[1].color">
                
              <h2>Watch List</h2>
            </mat-grid-tile>
          </mat-grid-list>
          <table>
            <tr>
              <th>Symbol</th>
              <th>Name</th>
              <th>High</th>
              <th>Low</th>
              <th>Volume</th>
            </tr>
            
            <tr *ngFor="let item of stockInfo">
              
                <td>{{item.symbol}}</td>
                <td>{{item.name}}</td>
                <td>{{item.high}}</td>
                <td>{{item.low}}</td>
                <td>{{item.volume}}</td>                
              
              

              
            </tr>
          </table>
          
            
            
          
    </div>
</div>