<div class="p-4">
    <div class="container">
        <h1>Hi {{user.firstName}}!</h1>
        <p>You're logged in with Angular 9!!</p>
        <p><a routerLink="/users">Manage Users</a></p>

        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile      
                [colspan]="tiles[0].cols"
                [rowspan]="tiles[0].rows"
                [style.background]="tiles[0].color">
                
                      <highcharts-chart
                      [Highcharts]="Highcharts"
                      [constructorType]="'stockChart'"
                      [options]="chartOptions"
                      [oneToOne]=true
                      style="width: 100%; height:100%; display:block;"
                      ></highcharts-chart>
                 
            </mat-grid-tile>

            <mat-grid-tile      
                [colspan]="tiles[1].cols"
                [rowspan]="tiles[1].rows"
                [style.background]="tiles[1].color">
              <h2>Watch List</h2>
            </mat-grid-tile>
          </mat-grid-list>
          

    </div>
</div>